<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [ ]:
# Импорт необходимых библиотек:
import pandas as pd
import re
import requests
import numpy as np
from bs4 import BeautifulSoup
import psycopg2
from tqdm.notebook import tqdm
tqdm.pandas()
pd.set_option('display.max_rows', None)

In [ ]:
# Учётные сведения для подключения к базе данных:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [ ]:
# Подключение к базе данных:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [ ]:
# текст запроса
query_3_1 = f'''
    SELECT COUNT(DISTINCT(id))
    FROM vacancies
'''

In [ ]:
# результат запроса
res_3_1 = pd.read_sql_query(query_3_1, connection)
print('Всего вакансий:',res_3_1['count'][0])

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [ ]:
# текст запроса
query_3_2 = f'''
    SELECT COUNT(DISTINCT(id))
    FROM employers
'''

In [ ]:
# результат запроса
res_3_2 = pd.read_sql_query(query_3_2, connection)
print('Всего работодателей:',res_3_2['count'][0])

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [ ]:
# текст запроса
query_3_3 = f'''
    SELECT COUNT(DISTINCT(id))
    FROM areas
'''

In [ ]:
# результат запроса
res_3_3 = pd.read_sql_query(query_3_3, connection)
print('Всего регионов:',res_3_3['count'][0])

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [ ]:
# текст запроса
query_3_4 = f'''
    SELECT COUNT(DISTINCT(id))
    FROM industries
'''

In [ ]:
# результат запроса
res_3_4 = pd.read_sql_query(query_3_4, connection)
print('Всего сфер деятельности:',res_3_4['count'][0])

***

In [ ]:
# выводы по предварительному анализу данных
'''
Вакансий почти в 2 раза больше, чем работодателей. Ресурс HH распространён достаточно широко - в 1362 
регионах среди работодателей самых различных сфер деятельности - их 294.
По уточнённым данным (см. 7.2), в  США, Эстонии и Великобритании соотношение между количеством работодателей и
количеством вакансий наиболее велико (работодателей больше в 5, 6 и 11.5 раз соответственно). В Сингапуре
на 10 работодателей нет ни одной вакансии. В Польше, Армении и Грузии небольшое число работодателей даёт значимое 
количество рабочих мест - на одного работодателя приходится 13, 22 и 33 вакансии соответственно. При этом в Молдове
нет ни одного зарегистрированного на HH работодателя, однако размещены 23 вакансии в этой стране организациями из 
других стран. Финляндия, Латвия и Германия демонстрируют наиболее равновесную ситуацию - на 1 организацию
приходится 1 открытая вакансия. 
В России положение как и в целом по рынку HH - вакансий почти в 2 раза больше, чем работодателей. При этом, в 
Москве это соотношение примерно 1:1, регионов с большим числом работодателей и малым числом вакансий нет; больше 
всего вакансий на 1 работодателя в среднем приходится в Чеченской Республике, Калмыкии, Приморском крае. Стоит 
отметить, что в Ингушетии и Еврейской АО нет зарегистрированных на HH работодателей, но вакансии в этих регионах
выкладываются.
'''

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [ ]:
# текст запроса
query_4_1 = f'''
    SELECT a.name, COUNT(v.id) cnt
    FROM vacancies v
    JOIN areas a ON v.area_id=a.id
    GROUP BY a.id
    ORDER BY cnt DESC
'''

In [ ]:
# результат запроса
res_4_1 = pd.read_sql_query(query_4_1, connection)
display(res_4_1)

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [ ]:
# текст запроса
query_4_2 = f'''
    SELECT COUNT(*)
    FROM vacancies v
    WHERE (salary_from IS NOT NULL) OR (salary_to IS NOT NULL)
'''

In [ ]:
# результат запроса
res_4_2 = pd.read_sql_query(query_4_2, connection)
print('Вакансии с указанными зарплатами:',res_4_2['count'][0])

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [ ]:
# текст запроса
query_4_3 = f'''
    SELECT ROUND(AVG(salary_from)) low, ROUND(AVG(salary_to)) high
    FROM vacancies v
'''

In [ ]:
# результат запроса
res_4_3 = pd.read_sql_query(query_4_3, connection)
print('Нижняя граница:',res_4_3['low'][0], 'RUB')
print('Верхняя граница:',res_4_3['high'][0], 'RUB')

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
# текст запроса
query_4_4 = f'''
    SELECT schedule, employment, COUNT(id) cnt
    FROM vacancies v
    GROUP BY schedule, employment
    ORDER BY cnt DESC
'''

In [ ]:
# результат запроса
res_4_4 = pd.read_sql_query(query_4_4, connection)
display(res_4_4)

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
# текст запроса
query_4_5 = f'''
    SELECT experience, COUNT(id) cnt
    FROM vacancies v
    GROUP BY experience
    ORDER BY cnt ASC
'''

In [ ]:
# результат запроса
res_4_5 = pd.read_sql_query(query_4_5, connection)
display(res_4_5)

***

In [ ]:
# выводы по детальному анализу вакансий
'''
Больше всего вакансий в столицах и центрах субъектов РФ, Беларуси и стран Центральной Азии (см. 7.1). Меньше всего - 
в малых городах и посёлках того же региона. Частично это объясняется тем, что иногда работодатели указывают 
ближайший крупный город, а реально располагаемое место работы - в описании вакансии (см. 7.3). Этот же 
способ используется периодически для вакансий за границей, а также - в Крыму и Севастополе.
Зарплаты указаны в описаниях в чуть более половины случаев. Чаще уровень зарплат не указывают для опытных 
кандидатов, в банковской сфере, IT-консалтинге, разработке ПО и ресурсодобывающих компаниях (см. 7.4). Такая 
практика более распространена в мегаполисах. Во Владивостоке - наоборот, резкий перевес в пользу указанных зарплат. 
Чётко обозначенные зарплаты видят неопытные кандидаты, претенденты на сменный/вахтовый график, а также системные
администраторы.
В среднем, обещаемый уровень зарплат лежит в диапазоне от 71 до 110 тысяч рублей. 
Самые высокие предлагаемые зарплаты (см. 7.7) - в странах ЕС; среди регионов России - Москва, Санкт-Петерубрг и регионы-
регионы-добытчики полезных ископаемых. Россию опережают по уровню средних зарплат такие страны как Грузия, Армения, 
Азербайджан, однако следует учесть, что на HH выкладываются в этих регионах высокооплачиваемые вакансии (в то время
как по РФ - из разных категорий), поэтому средний уровень зарплат смещается вверх. Также нужно учитывать неравенство
в богатых регионах, вследствие чего высокий уровень средних зарплат не является отражением доходности населения.
Меньше всего предлагается зарабатывать в нестоличных регионах Центральной Азии.
В подавляющем большинстве (свыше 70% случаев) работодатели ищут сотрудников на полную
занятость и полный день. На удалённую работу в полный рабочий день (16% вакансий) требуются, в основном, 
разработчики ПО, специалисты по оптимизации процессов, сотрудники интернет-компаний (см. 7.5). Меньше всего вакансий 
размещают для проектной работы вахтовым методом или со сменным графиком.
Для всех сфер деятельности наиболее востребованы специалисты, имеющие опыт от 1 до 3 лет (около 50% случаев).
Также требуются более высокоуровневые специалисты с опытом от 3 до 6 лет (около 30% вакансий). Специалисты без 
опыта тоже востребованы на рынке труда (около 15% вакансий), а вот самые жёсткие требования к опыту (свыше 6 лет)
предъявляются лишь в около 3% вакансий.
'''

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
# текст запроса
query_5_1 = f'''
    SELECT e.name, COUNT(v.id) vac
    FROM vacancies v
    JOIN employers e ON v.employer_id=e.id
    GROUP BY e.name
    ORDER BY vac DESC
    LIMIT 5
'''

In [ ]:
# результат запроса
res_5_1 = pd.read_sql_query(query_5_1, connection)
display(res_5_1)

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
# текст запроса
query_5_2 = f'''
    SELECT a.name REG, COUNT(DISTINCT(e.name)) EMP, COUNT(DISTINCT(v.id)) VAC
    FROM areas a
    LEFT JOIN employers e ON e.area=a.id
    LEFT JOIN vacancies v ON v.area_id=a.id 
    GROUP BY a.id
    HAVING COUNT (v.id)=0
    ORDER BY EMP DESC
    LIMIT 1
'''

In [ ]:
# результат запроса
res_5_2 = pd.read_sql_query(query_5_2, connection)
display(res_5_2)

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
# текст запроса
query_5_3 = f'''
    SELECT e.name EMP, COUNT(DISTINCT(a.name)) REG
    FROM employers e
    JOIN vacancies v ON v.employer_id=e.id 
    LEFT JOIN areas a ON v.area_id=a.id
    GROUP BY e.id
    ORDER BY REG DESC
'''

In [ ]:
# результат запроса
res_5_3 = pd.read_sql_query(query_5_3, connection)
display(res_5_3)

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
# текст запроса
query_5_4 = f'''
    SELECT COUNT(e.name) emp
    FROM employers e
    LEFT JOIN employers_industries ei ON ei.employer_id=e.id 
    LEFT JOIN industries i ON i.id=ei.industry_id
    WHERE i.name IS NULL
'''

In [ ]:
# результат запроса
res_5_4 = pd.read_sql_query(query_5_4, connection)
print('Не указана сфера деятельности у',res_5_4['emp'][0], 'компаний')

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
# текст запроса
query_5_5 = f'''
    SELECT e.name EMP, COUNT(i.id) IND
    FROM employers e
    LEFT JOIN employers_industries ei ON ei.employer_id=e.id 
    LEFT JOIN industries i ON i.id=ei.industry_id
    GROUP BY e.id
    HAVING COUNT(i.id)=4
    ORDER BY EMP ASC
    LIMIT 3
'''

In [ ]:
# результат запроса
res_5_5 = pd.read_sql_query(query_5_5, connection)
display(res_5_5)

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
# текст запроса
query_5_6 = f'''
    SELECT COUNT(e.name) EMP
    FROM employers e
    LEFT JOIN employers_industries ei ON ei.employer_id=e.id 
    LEFT JOIN industries i ON i.id=ei.industry_id
    GROUP BY i.name
    HAVING i.name='Разработка программного обеспечения'
    ORDER BY EMP ASC
'''

In [ ]:
# результат запроса
res_5_6 = pd.read_sql_query(query_5_6, connection)
print('Разработкой ПО занимаются',res_5_6['emp'][0], 'компаний')

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
# код для получения списка городов-милионников
import re
df_megapolis = pd.read_html('https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8')[1]
list_megapolis_orig = list(df_megapolis['Город'])
list_megapolis_fin=[]
for i in list_megapolis_orig:
    list_megapolis_fin.append(re.sub('\[a]','',i))

In [ ]:
# текст запроса
cities = tuple(list_megapolis_fin)
query_5_7 = f'''
    WITH res AS
        (SELECT a.name, COUNT(v.id) VAC
        FROM vacancies v
        JOIN employers e ON v.employer_id=e.id
        JOIN areas a ON v.area_id=a.id
        GROUP BY a.id, e.name
        HAVING (e.name='Яндекс') AND (a.name IN {cities}))
    (SELECT *
    FROM res
    ORDER BY vac ASC
    LIMIT 20)
    UNION ALL
    SELECT 'Total', SUM(vac)
    FROM res
'''

In [ ]:
# результат запроса
res_5_7 = pd.read_sql_query(query_5_7, connection)
display(res_5_7)

***

In [ ]:
# выводы по анализу работодателей
'''
Больше всего вакансий выкладывают IT-гиганты, финтех-компании и нефтедобывающие компании.
Большая часть зарегистрированных работодателей, не выкладывающих актуальные вакансии, не указали своё точное
местонахождение, но известно, что они из России. IT-гиганты и финтех-компании выкладывают вакансии в наибольшем
количестве регионов. То же самое можно сказать и небольших организациях, специализирующихся на ремонтах ПК и 1С
(см. 7.6).
35% работодателей не указывают сферы деятельности своих компаний. Среди указавших большое количество сфер (более
трёх) - 2ГИС и малоизвестные сервисные организации. 15% зарегистрированных работодателей занимаются разработкой
ПО.
Компании, размещающие вакансии в разных регионах, как правило, размещают больше вакансий в наиболее крупных из них.
'''

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
# текст запроса
query_6_1 = f'''
    SELECT COUNT(*)
    FROM vacancies v
    WHERE v.name ILIKE '%data%' OR v.name ILIKE '%данн%'
'''

In [ ]:
# результат запроса
res_6_1 = pd.read_sql_query(query_6_1, connection)
print('Вакансий, имеющих отношение к данным:',res_6_1['count'][0])

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
# текст запроса
query_6_2 = f'''
    WITH datascience AS 
        (SELECT v.name, v.experience, v.employment
        FROM vacancies v
        WHERE (v.name ILIKE '%data scientist%' OR v.name ILIKE '%data science%' OR v.name ILIKE '%исследователь данных%' OR 
        (v.name LIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR v.name ILIKE '%machine learning%' OR
        v.name ILIKE '%машинн%обучен%'))
    SELECT COUNT(*)
    FROM datascience
    WHERE name ILIKE '%junior%' OR experience = 'Нет опыта' OR employment = '%стажировка%'
'''

In [ ]:
# результат запроса
res_6_2 = pd.read_sql_query(query_6_2, connection)
print('Начинающий дата-сайентист может претендовать на',res_6_2['count'][0], 'вакансию')

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
# текст запроса
query_6_3 = f'''
    WITH datascience AS 
        (SELECT v.name, v.key_skills
        FROM vacancies v
        WHERE (v.name ILIKE '%data scientist%' OR v.name ILIKE '%data science%' OR v.name ILIKE '%исследователь данных%' OR 
        (v.name LIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR v.name ILIKE '%machine learning%' OR
        v.name ILIKE '%машинн%обучен%'))
    SELECT COUNT(*)
    FROM datascience
    WHERE key_skills ILIKE '%sql%' OR key_skills ILIKE '%postgres%'
'''

In [ ]:
# результат запроса
res_6_3 = pd.read_sql_query(query_6_3, connection)
print('SQL или postgres указали в качестве ключевых навыков в',res_6_3['count'][0], 'вакансии')

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
# текст запроса
query_6_4 = f'''
    WITH datascience AS 
        (SELECT v.name, v.key_skills
        FROM vacancies v
        WHERE (v.name ILIKE '%data scientist%' OR v.name ILIKE '%data science%' OR v.name ILIKE '%исследователь данных%' 
        OR (v.name LIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR v.name ILIKE '%machine learning%' OR v.name ILIKE '%машинн%обучен%'))
   SELECT COUNT(*)
   FROM datascience
   WHERE key_skills ILIKE '%python%'
'''

In [ ]:
# результат запроса
res_6_4 = pd.read_sql_query(query_6_4, connection)
print('Знание Python требуется в',res_6_4['count'][0], 'вакансии')

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [ ]:
# текст запроса
query_6_5 = f'''
    WITH datascience AS 
        ((SELECT v.name, v.key_skills
        FROM vacancies v
        WHERE (v.name ILIKE '%data scientist%' OR v.name ILIKE '%data science%' OR v.name ILIKE '%исследователь данных%' OR 
        (v.name LIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR v.name ILIKE '%machine learning%' OR
        v.name ILIKE '%машинн%обучен%')))
    SELECT ROUND(AVG(LENGTH(key_skills)-LENGTH(REPLACE(key_skills,CHR(9),''))+1),2) num_skills
    FROM datascience
    WHERE key_skills IS NOT NULL
'''

In [ ]:
# результат запроса
res_6_5 = pd.read_sql_query(query_6_5, connection)
print('Усреднённо, вакансии Data Science требуют от кандидата владение',res_6_5['num_skills'][0], 'навыками')

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [ ]:
# текст запроса
query_6_6 = f'''
    WITH datascience AS 
        ((SELECT v.name, v.key_skills, v.experience, v.salary_from, v.salary_to
        FROM vacancies v
        WHERE (v.name ILIKE '%data scientist%' OR v.name ILIKE '%data science%' OR v.name ILIKE '%исследователь данных%' OR 
        (v.name LIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR v.name ILIKE '%machine learning%' OR
        v.name ILIKE '%машинн%обучен%'))),
    ds_with_salary AS 
        (SELECT name, experience, salary_from, salary_to
        FROM datascience
        WHERE NOT (salary_from IS NULL AND salary_to IS NULL) AND experience = 'От 3 до 6 лет'),
    ds_with_avg AS 
        (SELECT *, (salary_from+salary_to)/2 Avg_salary
        FROM ds_with_salary
        WHERE salary_from IS NOT NULL AND salary_to IS NOT NULL
        UNION ALL
        SELECT *, salary_from Avg_salary
        FROM ds_with_salary
        WHERE salary_from IS NOT NULL AND salary_to IS NULL
        UNION ALL
        SELECT *, salary_to Avg_salary
        FROM ds_with_salary
        WHERE salary_from IS NULL AND salary_to IS NOT NULL)
    SELECT ROUND(AVG(Avg_salary))
    FROM ds_with_avg
'''

In [ ]:
# результат запроса
res_6_6 = pd.read_sql_query(query_6_6, connection)
print('Дата-сайентист с опытом работы от 3 до 6 лет в среднем может претендовать на зарплату',res_6_6['round'][0], 'RUB')

***

In [ ]:
# выводы по предметному анализу
'''
Среди всех вакансий, имеющих отношение к анализу данных - около 3.5%. Вакансий для Data Science (см. 7.8) - 
480 (около 0,9% от общего числа). Из них 11% - junior-позиции. SQL или Postgres указали в качестве ключевого навыка
в 40% случаев среди вакансий для Data Science. Знание Python требуется для 351 вакансии. Усреднённо, вакансии 
Data Science требуют от кандидата владение 6.41 навыками.
Дата-сайентист с опытом работы от 3 до 6 лет в среднем может претендовать на зарплату 243 115 RUB.
'''

# Общий вывод по проекту

In [ ]:
# итог исследования, общие выводы
'''
На основании проведённого анализа можно утверждать, что на российском рынке труда есть спрос на новых кандидатов.
Москва и мегаполисы определяют тренд рынка в целом и демонстрируют более здоровую обстановку по ключевым 
показателям (соотношение работодатель-вакансия, уровень зарплат, честное указание деталей). Рынку требуются
кандидаты с умеренным опытом работы, на полную очную занятость в крупные города. Больше всего готовы платить
специалистам IT- и финансовой сферы, ресурсодобывающей и перерабатыващей промышленности. Компании из этой сферы
чаще других публикуют вакансии.
В сфере Data Science требуются, в основном, специалисты обладающие хотя бы минимальным опытом и несколькими 
ключевыми компетенциями (прежде всего - Python и PostgreSQL). Этим специалистам рынок готов щедро платить.

Данное исследование не может быть применено к исследованию зарубежных рынков, несмотря на то, что другие страны 
присутствуют в базе. Ресурс HH пользуется популярностью в России, Казахстане, Беларуси; в других странах могут 
выкладываться вакансии только определённой сферы и/или филиалами компаний из указанных трёх стран.
Также следует учитывать искажение статистики вследствие недобросовестности или иных причин у работодателя - такие
как: не тот уровень зарплаты, не тот регион фактической работы, иные условия режима занятости и т.д.

В рамках дальнейших исследований было бы интересно проверить:
1. Насколько ситуация на российском рынке труда соответствует мировым трендам (сравнить с данными других ресурсов).
2. Насколько работодатели связаны между собой и с государством - какова роль монополизации на рынке.
3. Сравнение медианных уровней зарплат по регионам.
4. Изменения в миграционных процессах в России и ближних странах вследствие географии желаемых вакансий.
'''

In [ ]:
# Выводы по дополнительным исследованиям объединены с основными выводами выше.
# Сами расчёты приведены ниже.

In [ ]:
# Используемые функции для дополнительного анализа

def address_reading(x,level): # Первичная обработка населённых пунктов
    key = 'AIzaSyDMvmBHooRcJWUB1AvTu3-Rrxbcig4KldQ'
    URL = "https://maps.googleapis.com/maps/api/geocode/json"
    location = x
    PARAMS = {'address':location, 'key':key, 'language':'RU'}
    r = requests.get(url = URL, params = PARAMS)
    data = r.json()  
    try:
        sbj = data['results'][0]['address_components'][level]['long_name']
        return(sbj)
    except:
        return np.NaN

    
def address_correction(x): # Вторичная обработка населённых пунктов
    if not re.search('[0-9]',str(x[1])) is None:
        x[1] = address_reading(x[0], level=-2)
        x[2] = address_reading(x[0], level=-3)
        return [x[1], x[2]]
    else:
        return [x[1], x[2]]

    
def areas_corrected(x,r): # Преобразование населённого пункта в соответствующие страну и регион
    x['Country']=x[r].progress_apply(address_reading, level=-1)
    x['Region']=x[r].progress_apply(address_reading, level=-2)
    x['New_Country'] = x[[r, 'Country', 'Region']].apply(lambda x: address_correction(x), axis=1)
    x['Country_cor']=x['New_Country'].apply(lambda x: x[0])
    x['Region_cor']=x['New_Country'].apply(lambda x: x[1])
    x=x.drop([r, 'Country', 'Region', 'New_Country'], axis=1)
    return x

In [ ]:
# 7.1 Уточним, как распределяются вакансии по странам и регионам
query_3_1_mod = f'''
    SELECT COUNT(v.id) vac_cnt, a.name reg
    FROM vacancies v
    JOIN areas a ON v.area_id=a.id
    GROUP BY a.name
    ORDER BY COUNT(v.id) DESC
'''
res_3_1_mod = pd.read_sql_query(query_3_1_mod, connection)
res_7_1 = areas_corrected(res_3_1_mod, 'reg')

In [ ]:
# Вакансии по странам:
res_7_1.groupby('Country_cor').sum().sort_values('vac_cnt', ascending=False)

In [ ]:
# Вакансии по регионам:
res_7_1.groupby('Region_cor').sum().sort_values('vac_cnt', ascending=False)

In [ ]:
# 7.2 Сравним соотношение между количеством работодателей и вакансий по странам и регионам
query_5_2_mod = f'''
    SELECT a.name REG, COUNT(DISTINCT(e.name)) EMP, COUNT(DISTINCT(v.id)) VAC
    FROM areas a
    LEFT JOIN employers e ON e.area=a.id
    LEFT JOIN vacancies v ON v.area_id=a.id 
    GROUP BY a.id
    ORDER BY EMP DESC
'''
res_5_2_mod = pd.read_sql_query(query_5_2_mod, connection)
res_7_2 = areas_corrected(res_5_2_mod,'reg')
res_7_2_1 = res_7_2.groupby('Country_cor').sum().sort_values('emp', ascending=False)
res_7_2_1['ratio_emp_vac']=res_7_2_1[['emp', 'vac']].apply(lambda x: np.divide(int(x[0]),int(x[1])), axis=1)
res_7_2_2 = res_7_3.groupby('Region_cor').sum().sort_values('emp', ascending=False)
res_7_2_2['ratio_emp_vac']=res_7_2_2[['emp', 'vac']].apply(lambda x: np.divide(int(x[0]),int(x[1])), axis=1)
display('По странам', res_7_2_1.sort_values('ratio_emp_vac', ascending=False))
display('По регионам',res_7_2_2.sort_values('ratio_emp_vac', ascending=False))

In [ ]:
# 7.3 Узнаем, в каких вакансиях местоположение работодателя указано некорректно
query_3_3_mod = f'''
    SELECT DISTINCT(name)
    FROM areas
'''
res_3_3_mod = pd.read_sql_query(query_3_3_mod, connection) # Названия всех регионов


ilike_localities=[] # Названия регионов в символом "%"" для поиска подобия
for i in list(res_3_3_mod.name):
    i = '%'+i+'%'
    ilike_localities.append(i)

    
query_7_3 = f'''
    SELECT v.name vac, a.name locality
    FROM vacancies v
    JOIN areas a ON v.area_id=a.id
    WHERE (v.name LIKE ANY (array{ilike_localities})) AND (v.name NOT ILIKE '%'||a.name||'%')
'''
res_7_3 = pd.read_sql_query(query_7_3, connection)
res_7_3

In [ ]:
# 7.4 Проверим, какие факторы влияют на указание или отсутствие указания зарплаты в описании вакансии 
key_param=['v.experience exp', 'i.name ind', 'a.name area', 'v.name vac', 'v.schedule sched', 'v.employment empl']
for i in key_param:
    query_4_2_mod = f'''
        WITH no_salary AS 
            (SELECT COUNT(v.id) num, {i}
            FROM vacancies v
            JOIN employers e ON v.employer_id=e.id
            JOIN areas a ON v.area_id=a.id
            LEFT JOIN employers_industries ei ON ei.employer_id=e.id 
            LEFT JOIN industries i ON i.id=ei.industry_id
            WHERE NOT ((salary_from IS NOT NULL) OR (salary_to IS NOT NULL))
            GROUP BY {re.split(' ', i)[0]}
            ORDER BY num DESC),
        yes_salary AS 
            (SELECT COUNT(v.id) num, {i}
            FROM vacancies v
            JOIN employers e ON v.employer_id=e.id
            JOIN areas a ON v.area_id=a.id
            LEFT JOIN employers_industries ei ON ei.employer_id=e.id 
            LEFT JOIN industries i ON i.id=ei.industry_id
            WHERE (salary_from IS NOT NULL) OR (salary_to IS NOT NULL)
            GROUP BY {re.split(' ', i)[0]}
            ORDER BY num DESC)
        SELECT n.{re.split(' ', i)[1]}, n.num no_sal , y.num yes_sal
        FROM no_salary n
        JOIN yes_salary y ON n.{re.split(' ', i)[1]}=y.{re.split(' ', i)[1]}
        WHERE (n.num::FLOAT)/y.num NOT BETWEEN 0.5 AND 1.5
        LIMIT 10
    '''
    res_7_4 = pd.read_sql_query(query_4_2_mod, connection)
    print('Зарплаты не указаны / Зарплаты указаны:')
    display(res_7_4)

In [ ]:
# 7.5 Уточним, в каких сферах востребована удалённая работа на полный рабочий день
query_4_4_mod = f'''
    SELECT COUNT(*), i.name
    FROM vacancies v
    JOIN employers e ON v.employer_id=e.id
    JOIN areas a ON v.area_id=a.id
    LEFT JOIN employers_industries ei ON ei.employer_id=e.id 
    LEFT JOIN industries i ON i.id=ei.industry_id
    WHERE v.schedule='Удаленная работа' AND v.employment='Полная занятость'
    GROUP BY i.name
    ORDER by COUNT(*) DESC
    LIMIT 5
'''
res_7_5 = pd.read_sql_query(query_4_4_mod, connection)
display(res_7_5)

In [ ]:
# 7.6. Уточним сферу и место деятельности малоизвестных работодателей, которые 
# выкладывают вакансии в большом количестве регионов

query_7_6 = f'''
    SELECT v.name, e.name, a.name, i.name
    FROM vacancies v
    JOIN employers e ON v.employer_id=e.id
    JOIN areas a ON v.area_id=a.id
    LEFT JOIN employers_industries ei ON ei.employer_id=e.id 
    LEFT JOIN industries i ON i.id=ei.industry_id
    WHERE e.name IN ('Поляков Денис Иванович', 'Спецремонт', 'ООО ЕФИН', 'КРОН')
'''
res_7_6 = pd.read_sql_query(query_7_6, connection)
res_7_6

In [ ]:
# 7.7 Посчитаем уровень зарплат в разных регионах

query_6_6_mod = f'''
    WITH sal_reg AS 
        (SELECT a.name, v.salary_from, v.salary_to
        FROM vacancies v
        JOIN employers e ON v.employer_id=e.id
        JOIN areas a ON v.area_id=a.id
        WHERE NOT (v.salary_from IS NULL AND v.salary_to IS NULL)),     
    all_with_avg AS 
        (SELECT *, (salary_from+salary_to)/2 Avg_salary
        FROM sal_reg
        WHERE salary_from IS NOT NULL AND salary_to IS NOT NULL
        UNION ALL
        SELECT *, salary_from Avg_salary
        FROM sal_reg
        WHERE salary_from IS NOT NULL AND salary_to IS NULL
        UNION ALL
        SELECT *, salary_to Avg_salary
        FROM sal_reg
        WHERE salary_from IS NULL AND salary_to IS NOT NULL)
    SELECT name reg, AVG(Avg_salary) avg_sal
    FROM all_with_avg
    GROUP BY name
    ORDER BY reg ASC
'''
res_6_6_mod = pd.read_sql_query(query_6_6_mod, connection)
res_6_6_mod = areas_corrected(res_6_6_mod,'reg')
res_7_7 = res_6_6_mod.groupby(['Country_cor', 'Region_cor'], dropna=False).mean().sort_values(['avg_sal', 'Country_cor'], ascending=[False, True])
display(res_7_7)

In [ ]:
# 7.8 Узнаем количество вакансий для Data Science
query_6_2_mod = f'''
    WITH datascience AS 
        (SELECT v.name, v.experience, v.employment
        FROM vacancies v
        WHERE (v.name ILIKE '%data scientist%' OR v.name ILIKE '%data science%' OR v.name ILIKE '%исследователь данных%' OR 
        (v.name LIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR v.name ILIKE '%machine learning%' OR
        v.name ILIKE '%машинн%обучен%'))
    SELECT COUNT(*)
    FROM datascience
    WHERE name ILIKE '%junior%' OR experience = 'Нет опыта' OR employment = '%стажировка%'
'''
res_7_8 = pd.read_sql_query(query_6_2_mod, connection)
print('Вакансий для Data Science всего:',res_6_2['count'][0])